
 <meta http-equiv="refresh" content="0">
<table class="table">
 
 
 
<h3 class='title is-4'>Produto: <%= @power_generators.name %></h3>
<%= form_with url: consultar_power_generators_path, method: :get, local: true do |f| %>

<div class="field">
    <div class="control">
    <%= f.label :cep, 'Digite seu CEP:' %>
    <%= f.text_field :cep, class: 'input', placeholder: 'Por favor, informe seu CEP' %>
     </div>
</div>
<div class="field">
    <div class="control">
    <%= f.submit 'Consultar Frete', class: 'button is-small is-info' %>
    </div>
</div>
<% end %>
 
 
 <% if @freight.present? %>
  
  <thead>
    <tr>
      <th><abbr title="Serviço">Cidade:</abbr></th>
      <th>Estado:</th>
      <th><abbr title="Peso">Peso:</abbr></th>
      <th><abbr title="Prazo">Valor:</abbr></th>
       
    </tr>
  </thead>
 
  <tbody>
    <tr>
      <th><%= @address[:city] %></th>
      <th><%= @address[:state] %></th>
       <th><%= number_to_human(@freight.weight_min,  units: {unit: "kg"}) %></th>
       <th>
       <span class='tag is-danger'>
       <%= number_to_currency(@freight.cost, unit: "R$ ", precision: 2, 
                :separator => ",", :delimiter => "." ) %></th>
       
       </span>
    </tr>
 <hr>
 
  </tbody>
</table>
<% end %>
 