<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">

 <!-- start colum container hero------- // -->
<div class="columns">

<div class="column is-5">
 <div class="field">
  <h1 class="title"> Pesquisa </h1>
  <div class="control">
    <label class="radio">
    <%= radio_button_tag "sample", "sample", checked: true %>
   Simples
    </label>
    <label class="radio">
    <%= radio_button_tag "sample", "advanced" %>
  Avançada
    </label>
  </div>
</div>
</div>
<div class="column is-4">



<%= form_tag do  %>

<div id="sample" class="field">
<div class="control">
<%= label_tag "Pesquisas Simples" %>
<%= text_field_tag :simples, nil, placeholder: "O que procura?", class: "input" %>

<div class="control">
<%= button_tag fa_icon("search", text: "Pesquisar"), class: "button is-primary" %> 
</div>

</div>
</div>

<div id="advanced" style="display:none;" class="field">

<div class="control">
<%= label_tag "Pesquisa Avançada" %>
 Entradas do usuário para pesquisar uma coleção de geradores de energia com base nas recomendações fornecidas e melhor custo de frete.
</div>


</div>
 
<% end %>

</div>


</div> <!-- End column hero------- // -->
</section>



  <div class="container" >
    <% @power_generators.each do |power_generator| %>
      <div class="box card power_generator-card">
        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
        <div class="power_generator-card__body">
          <h2><%= power_generator.name.upcase %></h2>
          <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong>Descrição: </strong><%= power_generator.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
