<section class="hero is-success is-small">
  <div class="hero-body">
    <div class="container">

 <!-- start colum container hero------- // -->
 <section class="section">
<div class="columns">

<div class="column is-5">
 <div class="field">
  <h1 class="title"> Pesquisa </h1>
  <div class="control">
    <label class="radio">
    <%= radio_button_tag "sample", "sample", checked: true %>
   Simples
    </label>
    <label class="radio">
    <%= radio_button_tag "sample", "advanced" %>
  Avançada
    </label>
  </div>
</div>
</div>
<div class="column is-4">



<%= form_tag do  %>

<div id="sample" class="field">
<div class="control">
<%= label_tag "Pesquisas Simples" %>
<%= text_field_tag :simples, nil, placeholder: "O que procura?", class: "input" %>

<div class="control">
<%= button_tag fa_icon("search", text: "Pesquisar"), class: "button is-primary" %> 
</div>

</div>
</div>

<div id="advanced" style="display:none;" class="field">

<div class="control">
<%= label_tag "Pesquisa Avançada" %>
 Entradas do usuário para pesquisar uma coleção de geradores de energia com base nas recomendações fornecidas e melhor custo de frete.
</div>


</div>
 
<% end %>

</div>


 </section>
</div> <!-- End column hero------- // -->

</section>


<div class="section">

  <div class="container" >

<div class="columns is-multiline">

    <% @power_generators.each do |power_generator| %>
<div class="column is-4 card">
          <h2><%= power_generator.name.upcase %></h2>
  <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          <%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong>Descrição: </strong><%= power_generator.description.truncate(250, omission: '...')  %></p>
 
</div>

    <% end %>
</div>

   
  </div>
</div>

</div>